backend/node_modules
backend/.env
chat/node_modules
chat/.env
# masher/node_modules
masher
# masher/android

ecosystem.config.js
masher2/node_modules
masher2/.env

presentation.md
revenue_model.md
production.md
